<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:if="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layouts/user_layout}"
      lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dashborad</title>
</head>
<body>
<div layout:fragment="content">
  <div id="dashboard" class="pt-10 pb-10">
    <div class="container">
      <div class="dashboard-main">
        <div class="row">
          <div class="dashboard-sidebar">
            <a href="#" class="dashboard-responsive-nav-trigger"><i class="fa fa-reorder"></i> Dashboard Navigation</a>
            <div class="dashboard-nav">
              <div class="dashboard-nav-inner">
                <ul>
                  <li class="active"><a id="account-dashboard-tab" href="/dashboard" role="tab" aria-controls="account-dashboard" aria-selected="true"><i class="sl sl-icon-settings"></i> Account Information</a></li>
                  <li><a id="account-orders-tab" href="/dashboard-Oder" role="tab" aria-controls="account-orders" aria-selected="false"><i class="fa fa-list-ul"></i>Booking History</a></li>
                  <li><a href="" role="tab" aria-selected="false"><i class="sl sl-icon-power"></i> Logout</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12" id="account-details" role="tabpanel" aria-labelledby="account-details-tab">
            <div class="dashboard-content">
              <div class="dashboard-form mb-4">
                <div class="row">
                  <h4>List of rooms booked</h4>
                  <div class="table-responsive">
                    <table class="table table-bordered table-hover">
                      <tbody>
                      <tr>
                        <th>ID</th>
                        <th>Room</th>
                        <th>Check In</th>
                        <th>Check Out</th>
                        <th>Total</th>
                        <th>Payment Status</th>
                        <th>Cancel</th>
                      </tr>
                      <tr th:object="${bookRoom.id}">
                        <th th:text="${bookRoom.room}"></th>
                        <th th:text="${bookRoom.check_in}"></th>
                        <th th:text="${bookRoom.check_out}"></th>
                        <th th:text="${bookRoom.money}"></th>
                        <th th:if="${bookRoom.isPaid == true}">Đã thanh toán</th>
                        <th th:if="${bookRoom.isPaid == false}">Chưa thanh toán</th>
                      </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
</html>