<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layouts/user_layout}"
      lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashborad</title>
</head>
<body>
<div layout:fragment="content">
    <div id="dashboard" class="pt-10 pb-10">
        <div class="container">
        <div class="dashboard-main">
            <div class="row">
<!--                menu-->
                <div class="dashboard-sidebar">
                    <a href="#" class="dashboard-responsive-nav-trigger"><i class="fa fa-reorder"></i> Dashboard Navigation</a>
                    <div class="dashboard-nav">
                        <div class="dashboard-nav-inner">
                            <ul>
                                <li class="active"><a id="account-dashboard-tab" href="/dashboard" role="tab" aria-controls="account-dashboard" aria-selected="true"><i class="sl sl-icon-settings"></i> Account Information</a></li>
<!--                                <li><a id="account-orders-tab" href="/dashboard-Oder" role="tab" aria-controls="account-orders" aria-selected="false"><i class="fa fa-list-ul"></i>Booking History</a></li>-->
                                <li><a href="" role="tab" aria-selected="false"><i class="sl sl-icon-power"></i> Logout</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
<!--                Thông tin tài khoản-->
                <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12" id="account-dashboard" role="tabpanel" aria-labelledby="account-dashboard-tab">
                    <div class="dashboard-content">
                        <div class="dashboard-form mb-4">
                            <div class="row">
                                <div class="col-lg-6 col-md-6 col-xs-12 padding-right-30">
                                    <div class="dashboard-list">
                                        <h4 class="gray">Account Information</h4>
                                        <div class="dashboard-list-static">
                                           <form th:object="${user}">
                                            <div class="my-profile">
                                                <div class="form-group">
                                                    <label>User Name: </label>
                                                    <p th:text="${user.username}"></p>
                                                </div>
                                                <div class="form-group">
                                                    <label>Your Name: </label>
                                                    <p th:text="${user.full_name}"></p>
                                                </div>
                                                <div class="form-group">
                                                    <label>Phone Number: </label>
                                                    <p th:text="${user.phone}"></p>
                                                </div>
                                                <div class="form-group">
                                                    <label>Email: </label>
                                                    <p th:text="${user.email}"></p>
                                                </div>
                                                <div class="form-group">
                                                    <label class="twitter-input"><i class="fab fa-twitter"></i> Twitter</label>
                                                    <input placeholder="https://www.twitter.com/" type="text">
                                                </div>
                                                <div class="form-group">
                                                    <label class="fb-input"><i class="fab fa-facebook"></i> Facebook</label>
                                                    <input placeholder="https://www.facebook.com/" type="text">
                                                </div>
                                            </div>
                                           </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </div>
</div>
</body>
</html>