<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{layouts/user_layout}"
      lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Title</title>
</head>
<body style="background: #f6f7fc;">
<div layout:fragment="content">
    <div class="container py-5 h-100">
        <div class="row justify-content-center align-items-center h-100">
            <div class="col-12 col-lg-6 col-md-8 col-xl-5">
                <div class="card shadow" style="border-radius: 1rem;">
                    <div class="card-body p-5 text-center">
                        <h3>Reset Your <strong> Password</strong></h3>
<!--                        <p class="mb-4 text-secondary">We will be sending a reset password link to your email.</p>-->
                        <form th:action="@{/reset_password}" method="post">
                            <input type="hidden" name="token" th:value="${token}" />
                            <div class="form-group mb-2">
                                <label for="password"></label>
                                <input type="password" class="form-control"
                                       required id="password" name="password" placeholder="Enter your new password">
                            </div>
                            <div class="form-group mb-2">
                                <label></label>
                                <input type="password" class="form-control"
                                       required placeholder="Confirm your new password" oninput="checkPasswordMatch(this);">
                            </div>

                            <div class="d-grid gap-2 form-action">
                                <button style="border: none" type="submit" class="btn btn-primary btn-lg btn-block nir-btn">CHANGE PASSWORD</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script th:inline="javascript">
        function checkPasswordMatch(fieldConfirmPassword) {
            if (fieldConfirmPassword.value != $("#password").val()) {
                fieldConfirmPassword.setCustomValidity("Passwords do not match!");
            } else {
                fieldConfirmPassword.setCustomValidity("");
            }
        }
    </script>
</div>
</body>
</html>