<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{layouts/user_layout}"
      lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hotel detail</title>
</head>
<body>
<div layout:fragment="content">
    <section class="breadcrumb-main pb-0" style="background-image: url(/images/bg/bg8.jpg);">
        <div class="breadcrumb-outer pt-10">
            <div class="container">
                <div class="breadcrumb-content d-md-flex align-items-center pt-10">
                    <nav aria-label="breadcrumb">
                        <ul class="breadcrumb">
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
        <div class="dot-overlay"></div>
    </section>

    <section class="blog trending destination-b pb-6">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-xs-12 mb-4">
                    <div class="single-content">
                        <div th:object="${hotel}" class="description" id="description">
                            <div class="single-full-title border-b mb-2 pb-2">
                                <div class="single-title">
                                    <ul class="d-md-flex mb-2">
                                        <li class="bg-navy py-1 px-3 white">Free Wi-Fi</li>
                                    </ul>
                                    <div class="d-block d-md-flex flex-horizontal-center mb-1">
                                        <h4 class="font-weight-bold mb-0 mr-2" th:text="${hotel.name}"></h4>
                                        <div class="rating">
                                            <span style="margin-right: 3px"
                                                  th:each="vote: ${#numbers.sequence(1, hotel.vote)}"
                                                  class="fa fa-star checked"></span>
                                        </div>
                                    </div>
                                    <p class="mb-0">
                                        <i class="fa fa-map-marker-alt mr-2"></i> <span
                                            th:text="${hotel.address}"></span>
                                        <a href="#"> - View on map</a>
                                    </p>
                                </div>
                            </div>
                            <div class="single-slider">
                                <div class="slider-1 slider-store">
                                    <div class="detail-slider-item">
                                        <img th:src="@{${hotel.imagesPath1}}" alt="image">
                                    </div>
                                    <div class="detail-slider-item">
                                        <img th:src="@{${hotel.imagesPath2}}" alt="image">
                                    </div>
                                    <div class="detail-slider-item">
                                        <img th:src="@{${hotel.imagesPath3}}" alt="image">
                                    </div>
                                    <div class="detail-slider-item">
                                        <img th:src="@{${hotel.imagesPath4}}" alt="image">
                                    </div>
                                    <div class="detail-slider-item">
                                        <img th:src="@{${hotel.imagesPath1}}" alt="image">
                                    </div>
                                    <div class="detail-slider-item">
                                        <img th:src="@{${hotel.imagesPath2}}" alt="image">
                                    </div>
                                    <div class="detail-slider-item">
                                        <img th:src="@{${hotel.imagesPath3}}" alt="image">
                                    </div>
                                    <div class="detail-slider-item">
                                        <img th:src="@{${hotel.imagesPath4}}" alt="image">
                                    </div>
                                </div>
                                <div class="slider-1 slider-thumbs">
                                    <div class="detail-slider-item">
                                        <img style="max-width: 100%; object-fit: cover; width: 100%; height: 100px"
                                             th:src="@{${hotel.imagesPath1}}" alt="image">
                                    </div>
                                    <div class="detail-slider-item">
                                        <img style="max-width: 100%; object-fit: cover; width: 100%; height: 100px"
                                             th:src="@{${hotel.imagesPath2}}" alt="image">
                                    </div>
                                    <div class="detail-slider-item">
                                        <img style="max-width: 100%; object-fit: cover; width: 100%; height: 100px"
                                             th:src="@{${hotel.imagesPath3}}" alt="image">
                                    </div>
                                    <div class="detail-slider-item">
                                        <img style="max-width: 100%; object-fit: cover; width: 100%; height: 100px"
                                             th:src="@{${hotel.imagesPath4}}" alt="image">
                                    </div>
                                    <div class="detail-slider-item">
                                        <img style="max-width: 100%; object-fit: cover; width: 100%; height: 100px"
                                             th:src="@{${hotel.imagesPath1}}" alt="image">
                                    </div>
                                    <div class="detail-slider-item">
                                        <img style="max-width: 100%; object-fit: cover; width: 100%; height: 100px"
                                             th:src="@{${hotel.imagesPath2}}" alt="image">
                                    </div>
                                    <div class="detail-slider-item">
                                        <img style="max-width: 100%; object-fit: cover; width: 100%; height: 100px"
                                             th:src="@{${hotel.imagesPath3}}" alt="image">
                                    </div>
                                    <div class="detail-slider-item">
                                        <img style="max-width: 100%; object-fit: cover; width: 100%; height: 100px"
                                             th:src="@{${hotel.imagesPath4}}" alt="image">
                                    </div>
                                </div>
                            </div>
                            <div class="description-inner mb-2 mt-1">
                                <h4>Mô tả</h4>
                                <p th:text="${hotel.description}"></p>
                            </div>
                            <div class="description-inner mb-2">
                                <div class="description-content">
                                    <div class="car-specifi">
                                        <table>
                                            <h4>We give you the following for FREE: </h4>
                                            <thead>
                                            </thead>
                                            <tbody>
                                            <tr>
                                                <td class="title">Amendments</td>
                                                <td>Unlimited Kilometres for ALL car groups</td>
                                            </tr>
                                            <tr>
                                                <td class="title">Theft Protection</td>
                                                <td>Local Taxes</td>
                                            </tr>
                                            <tr>
                                                <td class="title">Direct-dial phone</td>
                                                <td>Road Fee</td>
                                            </tr>
                                            <tr>
                                                <td class="title">Collision Damage Waiver</td>
                                                <td>First Additional Driver</td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div class="description-inner">
                                <h4>Select your room</h4>
                                <div th:unless="count_room == 0">
                                    <div th:each="room : ${list_room}"
                                         class="product-item__outer w-100 border p-4 mb-2">
                                        <div class="row d-flex align-items-center justify-content-between">
                                            <div class="col-md-4 col-lg-4">
                                                <div class="product-item__header">
                                                    <img class="img-fluid w-100" th:src="@{${room.imagesPath}}"
                                                         alt="Image Description">
                                                </div>
                                            </div>
                                            <div class="col-md-5 col-lg-5">
                                                <div class="rooms-content py-2">
                                                    <h5 class="mb-1">
                                                        <a href="#" class="font-weight-bold" th:text="${room.name}">
                                                        </a>
                                                    </h5>
                                                    <div class="row">
                                                        <div class="col-lg-6 col-md-6 mb-1">
                                                            <i class="fa fa-wifi"></i> Free
                                                            Wi-Fi
                                                        </div>
                                                        <div class="col-lg-6 col-md-6 mb-1">
                                                            <i class="fa fa-vector-square"></i> <span th:text="${room.area}"></span> m²
                                                        </div>
                                                        <div th:if="${room.bed_type == 1}"
                                                             class="col-lg-6 col-md-6 mb-1">
                                                            <i class="fa fa-bed"></i> 1
                                                            single beds
                                                        </div>
                                                        <div th:if="${room.bed_type == 2}"
                                                             class="col-lg-6 col-md-6 mb-1">
                                                            <i class="fa fa-bed"></i> 2
                                                            single beds
                                                        </div>
                                                        <div class="col-lg-6 col-md-6 mb-1">
                                                            <i class="fa fa-shower"></i>
                                                            Shower
                                                        </div>
                                                        <div class="col-lg-12">
                                                            <a href="#"
                                                               class="text-underline font-size-14">
                                                                Room photos and
                                                                details
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-3 col-lg-3">
                                                <div class="rooms-pricing text-center">
                                                    <p class="mb-1">
                                                        From <span class="font-weight-bold ml-1"><span th:text="${#numbers.formatDecimal(room.rent, 0, 'COMMA', 0, 'POINT')}"></span> VNĐ</span>
                                                        <span> / night</span>
                                                    </p>
                                                    <a th:href="@{/hotel/confirm/{id}(id=${room.id})}"
                                                       class="nir-btn w-100">Book now</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="single-map mb-4" id="single-map">
                            <h4>Map</h4>
                            <div id="map" style="height: 500px; width: 100%;"></div>
                        </div>
                        <div class="single-review mb-4" id="single-review">
                            <h4>Average Reviews</h4>
                            <div class="row d-flex align-items-center">
                                <div class="col-lg-4 col-md-4">
                                    <div class="review-box bg-pink text-center pb-4 pt-4">
                                        <h2 class="mb-1 white"><span>@ViewBag.AverageRating.ToString("0.00")</span>/5
                                        </h2>
                                        <h4 class="white mb-1">"Feel so much worst than thinking"</h4>
                                        <p class="mb-0 white font-italic">From @ViewBag.CountRV Reviews</p>
                                    </div>
                                </div>
                                <div class="col-lg-8 col-md-8">
                                    <div class="review-progress">
                                        <div class="progress-item">
                                            <p>Cleanliness</p>
                                            <div class="progress">
                                                <div class="progress-bar" role="progressbar" aria-valuenow="40"
                                                     aria-valuemin="0" aria-valuemax="100" style="width:40%">
                                                    <span class="sr-only">40% Complete</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="progress-item">
                                            <p>Facilities</p>
                                            <div class="progress">
                                                <div class="progress-bar" role="progressbar" aria-valuenow="30"
                                                     aria-valuemin="0" aria-valuemax="100" style="width:30%">
                                                    <span class="sr-only">30% Complete</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="progress-item">
                                            <p>Value for money</p>
                                            <div class="progress">
                                                <div class="progress-bar" role="progressbar" aria-valuenow="60"
                                                     aria-valuemin="0" aria-valuemax="100" style="width:60%">
                                                    <span class="sr-only">60% Complete</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="progress-item">
                                            <p>Service</p>
                                            <div class="progress">
                                                <div class="progress-bar" role="progressbar" aria-valuenow="20"
                                                     aria-valuemin="0" aria-valuemax="100" style="width:20%">
                                                    <span class="sr-only">20% Complete</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="progress-item">
                                            <p>Location</p>
                                            <div class="progress">
                                                <div class="progress-bar" role="progressbar" aria-valuenow="45"
                                                     aria-valuemin="0" aria-valuemax="100" style="width:45%">
                                                    <span class="sr-only">45% Complete</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--                        <div class="single-comments single-box mb-4" id="single-comments">-->
                        <!--                            <h5 class="border-b pb-2 mb-2">Showing @ViewBag.CountRV verified guest comments</h5>-->
                        <!--                            @if (DSRV.Count > 0)-->
                        <!--                            {-->
                        <!--                            foreach (var item in DSRV)-->
                        <!--                            {-->
                        <!--                            <div class="comment-box">-->
                        <!--                                <div class="comment-image">-->
                        <!--                                    <img src="~/Content/assets/images/reviewer/1.jpg" alt="image">-->
                        <!--                                </div>-->
                        <!--                                <div class="comment-content">-->
                        <!--                                    <h5 class="mb-1">@item.TaiKhoan.HoTen</h5>-->
                        <!--                                    <p class="comment-date">@item.date_rv</p>-->
                        <!--                                    <div class="comment-rate">-->
                        <!--                                        <div class="rating mar-right-15">-->
                        <!--                                            @for(int i = 0; i < item.rating; i++)-->
                        <!--                                            {-->
                        <!--                                            <span class="fa fa-star checked"></span>-->
                        <!--                                            }-->
                        <!--                                            @*<span class="fa fa-star checked"></span>-->
                        <!--                                            <span class="fa fa-star checked"></span>-->
                        <!--                                            <span class="fa fa-star checked"></span>-->
                        <!--                                            <span class="fa fa-star checked"></span>*@-->
                        <!--                                        </div>-->
                        <!--                                        <span class="comment-title">@item.comment</span>-->
                        <!--                                    </div>-->
                        <!--                                    @*<p class="comment">-->
                        <!--                                    @item.comment-->
                        <!--                                </p>*@-->
                        <!--                                    <div class="comment-like">-->
                        <!--                                        <div class="like-title">-->
                        <!--                                            <a href="#" class="nir-btn">Reply</a>-->
                        <!--                                        </div>-->
                        <!--                                        <div class="like-btn pull-right">-->
                        <!--                                            <a href="#" class="like"><i class="fa fa-thumbs-up"></i> Like</a>-->
                        <!--                                            <a href="#" class="disike"><i class="fa fa-thumbs-down"></i> Dislike</a>-->
                        <!--                                            <a href="@Url.Action(" DeleteComment", "KhachSan",new { id = item.review_id-->
                        <!--                                            })" class="love"><i class="flaticon-like"></i> Delete</a>-->
                        <!--                                        </div>-->
                        <!--                                    </div>-->
                        <!--                                </div>-->
                        <!--                            </div>-->
                        <!--                            }-->
                        <!--                            }-->
                        <!--                        </div>-->

                        <div class="single-add-review" id="single-add-review">
                            <h4>Write a Review</h4>
                            <!--                            @using (Html.BeginForm("Comment", "KhachSan"))-->
                            <!--                            {-->
                            <div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <h4>Rating:</h4>
                                        <div id="rating">
                                            <input type="radio" id="star5" name="rating" value="5"/>
                                            <label class="full" for="star5" title="Awesome - 5 stars"></label>

                                            <input type="radio" id="star4" name="rating" value="4"/>
                                            <label class="full" for="star4" title="Pretty good - 4 stars"></label>

                                            <input type="radio" id="star3" name="rating" value="3"/>
                                            <label class="full" for="star3" title="Meh - 3 stars"></label>

                                            <input type="radio" id="star2" name="rating" value="2"/>
                                            <label class="full" for="star2" title="Kinda bad - 2 stars"></label>

                                            <input type="radio" id="star1" name="rating" value="1"/>
                                            <label class="full" for="star1" title="Sucks big time - 1 star"></label>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <textarea required name="comment" placeholder="Comment"></textarea>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-btn">
                                            <button style="border:none" type="submit" class="nir-btn" name="comment">
                                                Submit Review
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--                            }-->
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-xs-12 mb-4">
                    <div class="sidebar-sticky">
                        <div class="list-sidebar">
                            <div class="sidebar-item d-flex align-items-center">
                                <span class="border py-1 px-2 mr-2"><a href="#"><i class="flaticon-like"></i></a></span>
                                <span class="border py-1 px-2 mr-2">
                                <a href="#">
                                    <i class="fa fa-share-alt"></i>
                                </a>
                            </span>
                                <span class="rating bg-navy px-2 white py-1">4.5/5</span>
                                <span class="ml-2"><strong class="pink">Excellent</strong> (38 Reviews)</span>
                            </div>
                        </div>
                        <div class="sidebar-item mb-4">
                            <form th:action="@{/hotel/search-detail}" class="form-content">
                                <h4 class="title white font-weight-normal">
                                    From <span class="font-weight-bold">£350.00</span> / night
                                </h4>
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label class="white">Check In</label>
                                            <div class="input-box">
                                                <div th:if="${checkin} != null">
                                                    <input style="padding-left: 10px" type="date" th:id="${'ngayden'}"
                                                           name="ngayden"
                                                           th:value="${checkin.toString()}"
                                                           required>
                                                </div>
                                                <div th:if="${checkin} == null">
                                                    <input style="padding-left: 10px" type="date" th:id="${'ngayden'}"
                                                           name="ngayden" required>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label class="white">Check Out</label>
                                            <div class="input-box">
                                                <div th:if="${checkout} != null">
                                                    <input style="padding-left: 10px" type="date" min="" th:id="${'ngaydi'}"
                                                           name="ngaydi" th:value="${checkout.toString()}" required>
                                                </div>
                                                <div th:if="${checkout} == null">
                                                    <input style="padding-left: 10px" type="date" min="" th:id="${'ngaydi'}"
                                                           name="ngaydi" required>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label class="white">Adult</label>
                                            <div class="input-box">
                                                <i class="flaticon-add-user"></i>
                                                <select class="niceSelect">
                                                    <option value="1">1</option>
                                                    <option value="2">2</option>
                                                    <option value="3">3</option>
                                                    <option value="4">4</option>
                                                    <option value="5">5</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label class="white">Children</label>
                                            <div class="input-box">
                                                <i class="flaticon-add-user"></i>
                                                <select class="niceSelect">
                                                    <option value="1">1</option>
                                                    <option value="2">2</option>
                                                    <option value="3">3</option>
                                                    <option value="4">4</option>
                                                    <option value="5">5</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-12">
                                        <div class="form-group mb-0">
                                            <button style="border: none" value="submit" class="nir-btn w-100">
                                                <i class="fa fa-search"></i> Check
                                                Availability
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="list-sidebar">
                            <div class="sidebar-item">
                                <h3>Why Book With Us?</h3>
                                <div class="services-list">
                                    <div class="d-flex align-items-center mb-2 pb-2 border-b">
                                        <i class="fa fa-tag pink mr-2"></i>
                                        <span>No-hassle best price guarantee</span>
                                    </div>
                                    <div class="d-flex align-items-center mb-2 pb-2 border-b">
                                        <i class="fa fa-phone-alt pink mr-2"></i>
                                        <span>Customer care available 24/7</span>
                                    </div>
                                    <div class="d-flex align-items-center mb-2 pb-2 border-b">
                                        <i class="fa fa-star pink mr-2"></i>
                                        <span>Hand-picked Tours & Activities</span>
                                    </div>
                                    <div class="d-flex align-items-center">
                                        <i class="fa fa-plane pink mr-2"></i>
                                        <span>Free Travel Insureance</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script th:inline="javascript">
        var date = new Date();
        var day = date.getDate();
        var month = date.getMonth() + 1;
        var year = date.getFullYear();
        if (month < 10) month = "0" + month;
        if (day < 10) day = "0" + day;
        var today = year + "-" + month + "-" + day;
        document.getElementById("ngayden").setAttribute("min", today);
        debugger
        var input1 = document.getElementById('ngayden');
        var input2 = document.getElementById('ngaydi');

        input1.addEventListener('change', function () {
            var selectedDate = new Date(input1.value);
            var nextDay = new Date(selectedDate.getTime() + 24 * 60 * 60 * 1000); // Tăng thêm 1 ngày

            var day2 = nextDay.getDate();
            var month2 = nextDay.getMonth() + 1;
            var year2 = nextDay.getFullYear();
            if (month2 < 10) month2 = "0" + month2;
            if (day2 < 10) day2 = "0" + day2;
            var formattedDate = year2 + "-" + month2 + "-" + day2;
            input2.setAttribute("min", formattedDate);
            debugger
        });

    </script>
</div>
</body>
</html>