<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/admin_layout}"
      lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hotel Manager</title>
</head>
<body>

<div layout:fragment="content">
    <div class="page-header">
        <div class="header-sub-title">
            <nav class="breadcrumb breadcrumb-dash">
                <a href="/admin" class="breadcrumb-item"><i class="anticon anticon-home m-r-5"></i>Home</a>
                <span class="breadcrumb-item active">Hotel list</span>
            </nav>
        </div>
    </div>
    <span class="d-none" id="messageSuccess" th:text="${message}"></span>
    <div class="card">
        <div class="card-body">
            <div class="row m-b-30">
                <div class="col-md-8">
                    <div class="row">
                        <div class="col-md-6">
                            <form th:action="@{/admin/hotel/search}" method="get">
                                <div class="form-row">
                                    <div class="form-group col-md-8">
                                        <input type="text" class="form-control" id="keyword" name="keyword" placeholder="Search by name">
                                    </div>
                                    <div class="form-group col-md-4">
                                        <button type="submit" class="btn btn-primary">Search</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 text-right">
                    <a th:href="@{/admin/hotel/add}" class="btn btn-primary"><i
                            class="anticon anticon-plus-circle m-r-5"></i><span>Add hotel</span></a>
                </div>
            </div>
            <div class="table-responsive">
                <table class="table table-hover e-commerce-table">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>Hotel name</th>
                        <th>Center</th>
                        <th>Evaluate</th>
                        <th>City</th>
                        <th>Hotel type</th>
                        <th>Status</th>
                    </tr>
                    </thead>
                    <tbody id="records_table">
                    <tr th:each="hotel : ${list_hotel}">
                        <td th:text="${hotel.id}"></td>
                        <td>
                            <div class="d-flex align-items-center">
                                <div style="width: 150px; height: 100px">
                                    <img class="img-fluid rounded" style="max-width: 100%; object-fit: cover; width: 100%; height: 100px" th:src="@{${hotel.imagesPath1}}"
                                         alt="">
                                </div>
                                <h6 class="m-b-0 m-l-10" th:text="${hotel.name}"></h6>
                            </div>
                        </td>
                        <td th:text="${hotel.center + 'km'}"></td>
                        <td><span th:text="${hotel.vote}"></span><i style="margin-left: 2px"
                                                                    class="anticon anticon-star"></i></td>
                        <td th:text="${hotel.city.name}"></td>
                        <td th:text="${hotel.hotel_type.name}"></td>
                        <td th:if="${hotel.active} == true">
                            <div class="d-flex align-items-center">
                                <div class="badge badge-success badge-dot m-r-10"></div>
                                <div>Active</div>
                            </div>
                        </td>
                        <td th:if="${hotel.active} == false">
                            <div class="d-flex align-items-center">
                                <div class="badge badge-danger badge-dot m-r-10"></div>
                                <div>Disable</div>
                            </div>
                        </td>
                        <td>
                            <a th:href="@{/admin/hotel/edit/{id}(id=${hotel.id})}" title="Edit"
                               class="btn btn-icon btn-hover btn-sm btn-rounded pull-right"a>
                                <i class="anticon anticon-edit"></i></a>
                            <a href="#" title="Delete" class="btn btn-icon btn-hover btn-sm btn-rounded">
                                <i class="anticon anticon-delete"></i></a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div th:if = "${totalPages > 1}">
            <div class = "row col-sm-10">
                <div class = "col-sm-2">
                    Total Rows: [[${totalItems}]]
                </div>
                <div class = "col-sm-1">
                    <a th:if="${currentPage > 1}" th:href="@{'/admin/hotel/'  + ${currentPage - 1}}">Back</a>
                    <span th:unless="${currentPage > 1 }">Back</span>
                </div>
                <div class = "col-sm-1">
					<span th:each="i: ${#numbers.sequence(1, totalPages)}">
						<a th:if="${currentPage != i}" th:href="@{'/admin/hotel/' + ${i}}">[[${i}]]</a>
						<span th:unless="${currentPage != i}">[[${i}]]</span>  &nbsp; &nbsp;
					</span>
                </div>
                <div class = "col-sm-1">
                    <a th:if="${currentPage < totalPages}" th:href="@{'/admin/hotel/' + ${currentPage + 1}}">Next</a>
                    <span th:unless="${currentPage < totalPages}">Next</span>
                </div>

                <div class="col-sm-1">
                    <a th:if="${currentPage < totalPages}" th:href="@{'/admin/hotel/' + ${totalPages}}">Last</a>
                    <span th:unless="${currentPage < totalPages}">Last</span>
                </div>
            </div>
        </div>
    </div>
    <script th:src="@{/webjars/jquery/3.6.0/jquery.min.js}"></script>
    <script th:inline="javascript">
        $(document).ready(function () {
            var message = $('#messageSuccess').text();
            toastr.options = {
                "closeButton": true,
                "progressBar": true,
            }
            if (message !== '') {
                toastr.success(message);
            }
        });
    </script>
</div>
</body>
</html>