<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org"
       xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
       layout:decorate="~{layouts/admin_layout}"
       lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add city</title>
</head>
<body>
<div layout:fragment="content">
    <div class="page-header">
        <div class="header-sub-title">
            <nav class="breadcrumb breadcrumb-dash">
                <a href="/admin" class="breadcrumb-item"><i class="anticon anticon-home m-r-5"></i>Home</a>
                <a href="/admin/city/1" class="breadcrumb-item">List of cities</a>
                <span class="breadcrumb-item active">Add city</span>
            </nav>
        </div>
    </div>
    <div class="tab-content m-t-15">
        <div class="tab-pane fade show active" id="product-edit-basic" >
            <div class="card">
                <form th:action="@{/admin/city/add}" th:object="${city}"
                      method="post" enctype="multipart/form-data" class="card-body">
                    <div class="form-group">
                        <label class="font-weight-semibold" for="cityName">City Name</label>
                        <input type="text" th:field="*{name}" class="form-control" id="cityName" placeholder="City name">
                            <span class="text-danger" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>
                    </div>
                    <div class="form-group">
                        <label class="font-weight-semibold" for="description">Description</label>
                        <input type="text" th:field="*{description}" class="form-control" id="description" placeholder="Description">
                        <span class="text-danger" th:if="${#fields.hasErrors('description')}" th:errors="*{description}"></span>
                    </div>
                    <div class="form-group">
                        <label class="font-weight-semibold" for="image">Image</label>
                        <input required type="file" name="img" class="form-control" id="image" placeholder="Image">
                    </div>
                    <!--                    <div class="form-group">-->
                    <!--                        <label class="font-weight-semibold" for="productStatus">Status</label>-->
                    <!--                        <select class="custom-select" id="productStatus">-->
                    <!--                            <option value="inStock" selected>In Stock</option>-->
                    <!--                            <option value="outOfStock">Out of Stock</option>-->
                    <!--                            <option value="pending">Pending</option>-->
                    <!--                        </select>-->
                    <!--                    </div>-->
                    <input type="submit" class="btn btn-primary" value="Save">
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>