<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/user_layout}">
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
</head>
<body>
<div layout:fragment="content">
    <section class="banner overflow-hidden px-4">
        <div class="slider slider1">
            <div class="swiper-container">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="slide-inner">
                            <div class="slide-image" style="background-image: url(/images/slider/11.jpg)"></div>
                            <div class="swiper-content1 container">
                                <h4 class="white">Choose The Best Destination</h4>
                                <h1 class="white mb-4">Make Your Trip Fun And Memorable Where You Want</h1>
                                <a href="#" class="per-btn">
                                    <span class="white">Book A Room</span>
                                    <i class="fa fa-arrow-right white"></i>
                                </a>
                            </div>
                            <div class="dot-overlay"></div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="slide-inner">
                            <div class="slide-image" style="background-image: url(/images/slider/12.jpg)"></div>
                            <div class="swiper-content1 container">
                                <h4 class="white">Feel Free To Live</h4>
                                <h1 class="white mb-4">Discover Your Beautiful <span>Hotel</span> With Us</h1>
                                <a href="#" class="per-btn">
                                    <span class="white">Contact Us</span>
                                    <i class="fa fa-arrow-right white"></i>
                                </a>
                            </div>
                            <div class="dot-overlay"></div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="slide-inner">
                            <div class="slide-image" style="background-image: url(/images/slider/13.jpg)"></div>
                            <div class="swiper-content1 container">
                                <h4 class="white">Hotel For Your Kids</h4>
                                <h1 class="white mb-4"><span>Sensation Ice Hotel</span> Is Coming For Kids</h1>
                                <a href="#" class="per-btn">
                                    <span class="white">Read More</span>
                                    <i class="fa fa-arrow-right white"></i>
                                </a>
                            </div>
                            <div class="dot-overlay"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <div class="form-main">
        <div class="container">
            <div class="form-content form-content1 w-100 transparent p-0 shadow-none position-relative">
                <div class="form-navtab text-center">
                    <ul class="nav nav-tabs">
                        <li class="active"><a data-toggle="tab" href="#hotel"><i class="flaticon-building"></i>Find a
                            Hotel</a></li>
                    </ul>
                </div>
                <div class="tab-content">
                    <form th:action="@{/search}" method="post" id="hotel" class="tab-pane in active">
                        <div class="row d-flex align-items-center justify-content-between">
                            <div class="col-lg">
                                <div class="form-group mb-0">
                                    <label>Your Destination</label>
                                    <div class="input-box">
                                        <i class="flaticon-placeholder"></i>
                                        <input required name="keyword" type="text" placeholder="Your Destination"/>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg">
                                <div class="form-group mb-0">
                                    <label>Check In</label>
                                    <div class="input-box">
                                        <i class="fa fa-calendar"></i>
                                        <input type="date" id="date" name="ngayden" required>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg">
                                <div class="form-group mb-0">
                                    <label>Check Out</label>
                                    <div class="input-box">
                                        <i class="fa fa-calendar"></i>
                                        <input type="date" id="date2" name="ngaydi" required>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg">
                                <div class="form-group mb-0">
                                    <label>People</label>
                                    <div class="input-box">
                                        <i class="flaticon-add-user"></i>
                                        <select class="niceSelect">
                                            <option value="1">1</option>
                                            <option value="2">2</option>
                                            <option value="3">3</option>
                                            <option value="4">4</option>
                                            <option value="5">5</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg">
                                <div class="form-group mb-0 mt-3">
                                    <div class="input-box">
                                        <input style="border: none" type="submit" value="Check Availability"
                                               class="nir-btn w-100"/>
                                        <i class="fa fa-search mr-2"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!--     Khám phá việt nam -->
    <section class="trending destination-b pb-6 pt-7">
        <div class="container">
            <div class="section-title text-center mb-5 pb-2 w-50 mx-auto">
                <h2 class="m-0">Explore<span> Việt Nam</span></h2>
                <p class="mb-0">
                    These popular destinations have much to offer.
                </p>
            </div>
            <div class="trend-box">
                <div class="row team-slider">
                    <div th:each="city: ${list_city}" class="col-lg-4 col-md-6 mb-4">
                        <div class="trend-item">
                            <div class="trend-image">
                                <a href="">
                                    <img th:src="@{${city.imagesPath}}" alt="image">
                                </a>
                            </div>
                            <div class="trend-content-main">
                                <div class="trend-content">
                                    <h6 class="font-weight-normal"><i
                                            class="fa fa-map-marker-alt"></i> <span th:text="${city.name}"></span></h6>
                                    <h4><a th:href="@{/hotel/{id}(id=${city.id})}" th:text="${city.description}"></a></h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--    TP Hồ Chí Minh-->
    <section class="call-to-action call-to-action1 pb-6 pt-10" style="background-image:url(/images/bg/bg6.jpg)">
        <div class="call-main">
            <div class="container">
                <div class="row d-flex align-items-center justify-content-between">
                    <div class="col-lg-6 mb-4">
                        <div th:object="${HoChiMinh}" class="action-content">
                            <h3 class="white mb-0 text-uppercase">Find hotel in</h3>
                            <h2 style="display: inline-block" class="white call-name">
                                TP.Hồ Chí Minh <img th:src="@{/img/vietnam.png}" style="width:40px"/>
                            </h2>
                            <p class="white mb-4">
                                There are many variations of passages of. Lorem Ipsum available, but
                                the majority have suffered alteration in some form, by injected humour, or randomised
                                words which don’t look.
                            </p>
                            <a th:href="@{/hotel/{id}(id=${HoChiMinh.id})}" class="nir-btn">Explore now <i class="fa fa-arrow-right"></i></a>
                        </div>
                    </div>
                    <div class="col-lg-6 mb-4">
                        <div class="video-button">
                            <img style="max-width: 90%" th:src="@{${HoChiMinh.imagesPath}}"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="dot-overlay"></div>
    </section>

    <!--    @* Các thành phố khác *@-->
    <section class="top-destination overflow-hidden bg-navy p-0">
        <div class="container-fluid">
            <div class="desti-inner">
                <div class="row d-flex align-items-center">
                    <div class="col-lg p-0">
                        <div th:object="${HaNoi}" class="desti-image bordernone">
                            <img th:src="@{${HaNoi.imagesPath}}" alt="desti">
                            <div class="desti-content">
                                <h4 style="display:inline-block" class="white mb-0">Hà Nội <img style="width: 24px;"
                                                                                                th:src="@{/img/vietnam.png}"/>
                                </h4>
                            </div>
                            <div class="desti-overlay">
                                <a th:href="@{/hotel/{id}(id=${HaNoi.id})}" class="nir-btn">
                                    <span class="white">Find now</span>
                                    <i class="fa fa-arrow-right white pl-1"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg p-0">
                        <div th:object="${HoiAn}" class="desti-image bordernone">
                            <img th:src="@{${HoiAn.imagesPath}}" alt="desti">
                            <div class="desti-content">
                                <h4 style="display:inline-block" class="white mb-0">Hội An <img style="width: 24px;"
                                                                                                th:src="@{/img/vietnam.png}"/>
                                </h4>
                            </div>
                            <div class="desti-overlay">
                                <a th:href="@{/hotel/{id}(id=${HoiAn.id})}" class="nir-btn">
                                    <span class="white">Find now</span>
                                    <i class="fa fa-arrow-right white pl-1"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg p-0">
                        <div th:object="${Hue}" class="desti-image bordernone">
                            <img th:src="@{${Hue.imagesPath}}" alt="desti">
                            <div class="desti-content">
                                <h4 style="display:inline-block" class="white mb-0">
                                    Huế <img style="width: 24px;" th:src="@{/img/vietnam.png}"/>
                                </h4>
                            </div>
                            <div class="desti-overlay">
                                <a th:href="@{/hotel/{id}(id=${Hue.id})}" class="nir-btn">
                                    <span class="white">Find now</span>
                                    <i class="fa fa-arrow-right white pl-1"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg p-0">
                        <div th:object="${DaNang}" class="desti-image bordernone">
                            <img th:src="@{${DaNang.imagesPath}}" alt="desti">
                            <div class="desti-content">
                                <h4 style="display:inline-block" class="white mb-0">
                                    Đà Nẵng <img style="width: 24px;" th:src="@{/img/vietnam.png}"/>
                                </h4>

                            </div>
                            <div class="desti-overlay">
                                <a th:href="@{/hotel/{id}(id=${DaNang.id})}" class="nir-btn">
                                    <span class="white">Find now</span>
                                    <i class="fa fa-arrow-right white pl-1"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="counter-main pb-6 pt-10" style="margin-top: 100px ;background-image: url(/images/bg/bg4.jpg)">
        <div class="container">
            <div class="counter text-center">
                <div class="row">
                    <div class="col-lg-3 col-md-6 col-sm-6 mb-4">
                        <div class="counter-item bg-lgrey">
                            <i class="fa fa-users white bg-navy mb-1"></i>
                            <h3 class="value mb-0 navy">100</h3>
                            <h4 class="m-0">Happy Customers</h4>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6 mb-4">
                        <div class="counter-item bg-lgrey">
                            <i class="fa fa-plane mb-1 white bg-navy"></i>
                            <h3 class="value mb-0 navy">50</h3>
                            <h4 class="m-0">Amazing Tours </h4>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6 mb-4">
                        <div class="counter-item bg-lgrey">
                            <i class="fa fa-chart-bar  white bg-navy mb-1"></i>
                            <h3 class="value mb-0 navy">3472</h3>
                            <h4 class="m-0">In Business</h4>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6 mb-4">
                        <div class="counter-item bg-lgrey">
                            <i class="fa fa-support  white bg-navy mb-1"></i>
                            <h3 class="value mb-0 navy">523</h3>
                            <h4 class="m-0">Support Cases </h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="overlay"></div>
    </section>

    <div class="cta-horizon bg-navy pt-4 pb-4">
        <div class="container d-md-flex align-items-center justify-content-between">
            <h4 class="mb-0 white">It’s Time For a New Adventure! Don’t Wait Any Longer. Contact us!</h4>
            <a href="#" class="nir-btn">Fine More Destination</a>
        </div>
    </div>

    <section class="top-deals bg-grey pt-9">
        <div class="container">
            <div class="section-title text-center mb-5 pb-2 w-50 mx-auto">
                <h2 class="m-0">Search by type of <span>resting place</span></h2>
                <p class="mb-0">
                    Travel has helped us to understand the meaning of life and it has helped us become
                    better people. Each time we travel, we see the world with new eyes.
                </p>
            </div>

            <div class="row team-slider">
                <!--                @foreach (var item in listLoaiKS)-->
                <!--                {-->
                <div class="col-lg-4 col-md-6 mb-4 slider-item">
                    <div class="trend-item">
                        <div class="trend-image">
                            <a href="">
                                <img src="" alt="image">
                            </a>
                        </div>
                        <div class="trend-content-main">
                            <div style="padding: 23px 20px 20px; background: #ffffff" class="trend-content">
                                <h4><a href="">Ten</a></h4>
                                <p class="mb-0">
                                    <!--                                    @*<i class="fa fa-eye mr-1"></i>*@ 19.187 @item.Ten-->
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <!--                }-->
            </div>
        </div>
    </section>

    <section class="newsletter-area m-0 pb-5 pt-5 bg-navy">
        <div class="container">
            <div class="newsletter-main">
                <div class="newsletter-wrapper">
                    <div class="row d-flex align-items-center justify-content-between">
                        <div class="col-lg-5">
                            <div class="newsletter-content-wrapper d-sm-flex align-items-center">
                                <div class="newsletter-icon">
                                    <i class="fa fa-envelope-open white"></i>
                                </div>
                                <div class="newsletter-content ml-4">
                                    <h3 class="title white mb-1">Get Discount <span>30% Off !</span></h3>
                                    <p class="m-0 white">
                                        Etiam bibendum turpis ac ligula blandit, quis euismod leo
                                        consectetur Vivamus maximus non.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-7">
                            <div class="newsletter-form">
                                <form action="#">
                                    <input type="text" placeholder="Enter Your Email...">
                                    <button class="nir-btn">subscribe</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script th:inline="javascript">
        var date = new Date();
        var day = date.getDate();
        var month = date.getMonth() + 1;
        var year = date.getFullYear();
        if (month < 10) month = "0" + month;
        if (day < 10) day = "0" + day;
        var today = year + "-" + month + "-" + day;
        //document.getElementById("date").value = today;
        document.getElementById("date").setAttribute("min", today);

        var input1 = document.getElementById('date');
        var input2 = document.getElementById('date2');

        input1.addEventListener('change', function () {
            var selectedDate = new Date(input1.value);
            var nextDay = new Date(selectedDate.getTime() + 24 * 60 * 60 * 1000); // Tăng thêm 1 ngày


            var day2 = nextDay.getDate();
            var month2 = nextDay.getMonth() + 1;
            var year2 = nextDay.getFullYear();
            if (month2 < 10) month2 = "0" + month2;
            if (day2 < 10) day2 = "0" + day2;
            var formattedDate = year2 + "-" + month2 + "-" + day2;
            //input2.value = formattedDate;
            input2.setAttribute("min", formattedDate);
        });
    </script>
</div>
</body>
</html>