<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org"
       xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
       layout:decorate="~{layouts/admin_layout}"
       lang="en">
<head>
    <meta charset="UTF-8">
    <title>Book Room Manager</title>
</head>
<body>
<div layout:fragment="content">
    <div class="page-header">
        <div class="header-sub-title">
            <nav class="breadcrumb breadcrumb-dash">
                <a href="/admin" class="breadcrumb-item"><i class="anticon anticon-home m-r-5"></i>Home</a>
                <span class="breadcrumb-item active">List of Booked Room</span>
            </nav>
        </div>
    </div>
<!--    <span class="d-none" id="messageSuccess" th:text="${message}"></span>-->
    <div class="card">
        <div class="card-body">
            <div class="row m-b-30">
                <div class="col-md-8">
                    <div class="row">
                        <div class="col-md-6">
                            <form th:action="@{/admin/bookRoom/search}" method="get">
                                <div class="form-row">
                                    <div class="form-group col-md-8">
                                        <input type="text" class="form-control" id="keyword" name="keyword" placeholder="Search by name">
                                    </div>
                                    <div class="form-group col-md-4">
                                        <button type="submit" class="btn btn-primary">Search</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="table-responsive">
                <table class="table table-hover e-commerce-table">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>Check-in</th>
                        <th>Check-out</th>
                        <th>Is-Paid</th>
                        <th>Total Money</th>
                        <th>Id Room</th>
                    </tr>
                    </thead>
                    <tbody id="records_table">
                    <tr th:each="temp : ${list_bookRoom}">
                        <td th:text="${temp.id}"></td>
                        <td>
                            <div class="d-flex align-items-center">
                                <h6 class="m-b-0 m-l-10" th:text="${#dates.format(temp.check_in, 'dd/MM/yyyy')}"></h6>
                            </div>
                        </td>
                        <td th:text="${#dates.format(temp.check_out, 'dd/MM/yyyy')}"></td>
                        <td th:if="${temp.isPaid} == true">
                            <div class="d-flex align-items-center">
                                <div class="badge badge-success badge-dot m-r-10"></div>
                                <div>True</div>
                            </div>
                        </td>
                        <td th:if="${temp.isPaid} == false">
                            <div class="d-flex align-items-center">
                                <div class="badge badge-danger badge-dot m-r-10"></div>
                                <div>False</div>
                            </div>
                        </td>
                        <td> <span th:text="${#numbers.formatDecimal(temp.money, 0, 'COMMA', 0, 'POINT')}"></span> VNĐ</td>
                        <td th:text="${temp.room.id}"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div th:if = "${totalPages > 1}">
            <div class = "row col-sm-10">
                <div class = "col-sm-2">
                    Total Rows: [[${totalItems}]]
                </div>
                <div class = "col-sm-1">
                    <a th:if="${currentPage > 1}" th:href="@{'/admin/bookRoom/' + ${currentPage - 1}}">Back</a>
                    <span th:unless="${currentPage > 1}">Back</span>
                </div>
                <div class = "col-sm-1">
					<span th:each="i: ${#numbers.sequence(1, totalPages)}">
						<a th:if="${currentPage != i}" th:href="@{'/admin/bookRoom/' + ${i}}">[[${i}]]</a>
						<span th:unless="${currentPage != i}">[[${i}]]</span>  &nbsp; &nbsp;
					</span>
                </div>
                <div class = "col-sm-1">
                    <a th:if="${currentPage < totalPages}" th:href="@{'/admin/bookRoom/' + ${currentPage + 1}}">Next</a>
                    <span th:unless="${currentPage < totalPages}">Next</span>
                </div>

                <div class="col-sm-1">
                    <a th:if="${currentPage < totalPages}" th:href="@{'/admin/bookRoom/' + ${totalPages}}">Last</a>
                    <span th:unless="${currentPage < totalPages}">Last</span>
                </div>
            </div>
        </div>
    </div>
    </div>
    <script th:src="@{/webjars/jquery/3.6.0/jquery.min.js}"></script>
    <script th:inline="javascript">
        $(document).ready(function () {
            var message = $('#messageSuccess').text();
            toastr.options = {
                "closeButton": true,
                "progressBar": true,
            }
            if (message !== '') {
                toastr.success(message);
            }
        });
    </script>
</div>
</body>
</html>