<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org"
       xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
       layout:decorate="~{layouts/admin_layout}"
       lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add room</title>
</head>
<body>
<div layout:fragment="content">
    <div class="page-header">
        <div class="header-sub-title">
            <nav class="breadcrumb breadcrumb-dash">
                <a href="/admin" class="breadcrumb-item"><i class="anticon anticon-home m-r-5"></i>Home</a>
                <a href="/admin/room/1" class="breadcrumb-item">List of Room</a>
                <span class="breadcrumb-item active">Add Room</span>
            </nav>
        </div>
    </div>
    <div class="tab-content m-t-15">
        <div class="tab-pane fade show active" id="product-edit-basic" >
            <div class="card">
                <form th:action="@{/admin/room/add}" th:object="${room}"
                      method="post" enctype="multipart/form-data" class="card-body">
                    <div class="form-group">
                        <label class="font-weight-semibold" for="roomName">Room Name</label>
                        <input type="text" th:field="*{name}" class="form-control" id="roomName" placeholder="Room name">
                        <span class="alert alert-danger" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>
                    </div>
                    <div class="form-group">
                        <label class="font-weight-semibold" for="area">Area</label>
                        <input type="text" th:field="*{area}" class="form-control" id="area" placeholder="Area">
                        <span class="alert alert-danger" th:if="${#fields.hasErrors('area')}" th:errors="*{area}"></span>
                    </div>
                    <div class="form-group">
                        <label class="font-weight-semibold" for="rent">Rent</label>
                        <input type="text" th:field="*{rent}" class="form-control" id="rent" placeholder="Rent">
                        <span class="alert alert-danger" th:if="${#fields.hasErrors('rent')}" th:errors="*{rent}"></span>
                    </div>
                    <div class="form-group">
                        <label class="font-weight-semibold" for="convenient">Convenient</label>
                        <input type="text" th:field="*{convenient}" class="form-control" id="convenient" placeholder="Convenient">
                        <span class="alert alert-danger" th:if="${#fields.hasErrors('convenient')}" th:errors="*{convenient}"></span>
                    </div>
                    <div class="form-group">
                        <label class="font-weight-semibold" for="description">Description</label>
                        <input type="text" th:field="*{description}" class="form-control" id="description" placeholder="Description">
                        <span class="alert alert-danger" th:if="${#fields.hasErrors('description')}" th:errors="*{description}"></span>
                    </div>
                    <div class="form-group">
                        <label class="font-weight-semibold">Bed_type</label>
                        <select class="custom-select" id="bed_type" name="bed_type">
                            <option value="1">Single Bed</option>
                            <option value="2">Double Bed</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label class="font-weight-semibold" for="hotel">Hotel</label>
                        <select class="custom-select" id="hotel" name="hotel.id">
                            <option th:each="hotel :${list_hotel}" th:value="${hotel.id}"
                                    th:text="${hotel.name}"></option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label class="font-weight-semibold" for="image">Image</label>
                        <input required type="file" name="img" class="form-control" id="image" placeholder="Image">
                    </div>
                    <!--                    <div class="form-group">-->
                    <!--                        <label class="font-weight-semibold" for="productStatus">Status</label>-->
                    <!--                        <select class="custom-select" id="productStatus">-->
                    <!--                            <option value="inStock" selected>In Stock</option>-->
                    <!--                            <option value="outOfStock">Out of Stock</option>-->
                    <!--                            <option value="pending">Pending</option>-->
                    <!--                        </select>-->
                    <!--                    </div>-->
                    <input type="submit" class="btn btn-primary" value="Save">
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>