<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org"
       xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
       layout:decorate="~{layouts/admin_layout}"
       lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add hotel</title>
</head>
<body>
<div layout:fragment="content">
    <div class="page-header">
        <div class="header-sub-title">
            <nav class="breadcrumb breadcrumb-dash">
                <a href="/admin" class="breadcrumb-item"><i class="anticon anticon-home m-r-5"></i>Home</a>
                <a href="/admin-room" class="breadcrumb-item">List of Room</a>
                <span class="breadcrumb-item active">Edit Room</span>
            </nav>
        </div>
    </div>
    <div class="tab-content m-t-15">
        <div class="tab-pane fade show active" id="product-edit-basic" >
            <div class="card">
                <form th:action="@{/admin-room/edit}" th:object="${room}"
                      method="post" enctype="multipart/form-data" class="card-body">
                    <input type="hidden" th:field="*{id}">
                    <div class="form-group">
                        <label class="font-weight-semibold" for="roomName">Hotel Name</label>
                        <input type="text" th:field="*{name}" class="form-control" id="roomName" placeholder="Room name">
                    </div>
                    <div class="form-group">
                        <label class="font-weight-semibold" for="area">Area</label>
                        <input type="text" th:field="*{area}" class="form-control" id="area" placeholder="Area">
                    </div>
                    <div class="form-group">
                        <label class="font-weight-semibold" for="rent">Rent</label>
                        <input type="text" th:field="*{rent}" class="form-control" id="rent" placeholder="Rent">
                    </div>
                    <div class="form-group">
                        <label class="font-weight-semibold" for="convenient">Center</label>
                        <input type="text" th:field="*{convenient}" class="form-control" id="convenient" placeholder="Convenient">
                    </div>
                    <div class="form-group">
                        <label class="font-weight-semibold" for="description">Description</label>
                        <textarea th:field="*{description}" class="form-control" id="description" placeholder="Description"></textarea>
                    </div>
                    <div class="form-group">
                        <label class="font-weight-semibold">Bed_type</label>
                        <select class="custom-select" id="bed_type" name="bed_type">
                            <option value="1">Phòng đơn</option>
                            <option value="2">Phòng đôi</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label class="font-weight-semibold" for="hotel">Hotel</label>
                        <select class="custom-select" id="hotel" name="hotel.id">
                            <option th:each="hotel :${list_hotel}" th:value="${hotel.id}"
                                    th:text="${hotel.name}"></option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label class="font-weight-semibold" for="image">Image</label>
                        <input type="file" name="img" class="form-control" id="image" placeholder="Image">
                    </div>
                    <input type="submit" class="btn btn-primary" value="Save">
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>